.index {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(../images/timg.jpg) top center;
    background-size: cover;

    header {
        height: 100px;
        background: linear-gradient(rgba(176, 177, 179,.6), rgba(87, 55, 63,.6));

        h2 {
            text-align: center;
            color: aliceblue;
            line-height: 100px;
        }
    }

    .content {
        flex: 1;
        display: flex;
        background: rgba(0, 0, 0, .4);

        section {
            flex: 1;
            padding-top: 50px;
            text-align: center;

            ul {
                min-height: 200px;

                li {
                    line-height: 40px;
                    list-style: none;
                    text-indent: 20px;
                    font-style: initial;
                }
            }
        }

        aside {
            width: 400px;
            padding-top: 50px;
            background-size: cover;
            background:linear-gradient(rgba(99, 114, 145, 0.6), rgba(255, 255, 255, 0.6));
            box-shadow: 0px 4px 4px 4px rgb(129, 120, 129);
            text-align: center;
            h4{
                display: flex;
                line-height: 30px;
                padding-left: 50px;
                img{
                    height:30px;
                    border-radius: 50%;
                    margin-right: 20px;
                }
                color: #fff;
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    }

}